/* Fuente Global */
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: Victor Mono;
    color: rgb(37, 35, 35);
    /* font-weight: 800; */
    background-image: linear-gradient(to right, #F2C2FF, #E0C3FC);
    height: 100vh; /* Asegura que el fondo ocupe toda la altura de la viewport */
    margin: 0;
  }

.container {
    display: grid;
    gap: 20px; /* Espacio entre elementos */

    /* Para pantallas grandes (web) */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    
    /* Para pantallas medianas (tablet) */
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual ancho */
    }

    /* Para pantallas pequeñas (móvil) */
    @media (max-width: 576px) {
        grid-template-columns: 1fr; /* 1 columna */
    }
}

/* Para pantallas grandes 3 columnas de igual ancho */

/* Encabezado */
.header_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.header_container .title {
    grid-row: 1/3;
    grid-column: 2/3;
    text-align: center;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.header_container .subtitle{
    grid-row:2/4;
    grid-column: -3/-2;
    place-self: center;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Sección sobre mi */
.about_me_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr
}
.about_me_title{
    grid-column: 2/3;
    text-align: center;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.about_me_container .about_me_subtitle{
    grid-column: 1/4;
    padding: 0 30px;
    font-weight: 400;
}

/* Sección de Proyectos */
.projects_title{
    grid-column: 2/3;
    text-align: center;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.projects_section_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    padding: 20px;
}


.project {
    border-radius: 12px;
    border:1px solid  rgb(37, 35, 35);
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.55) 1px 5px 15px;
}

.project-title{
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.project-description{
    font-weight: 400;
}
.project:hover{
    transform: scale(1.0425);
    transition: 1s 
}
.project-img{
    width: 100%;
    margin-top: 10px;
    border-radius: 12px;
}
/* Sección Contacto */
.contact-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.contact_title{
    grid-column: 2/3;
    grid-row:1;
    text-align: center;    
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.contact-link-linkedIn{
    grid-column: 2;
    grid-row: 2/3;
    place-self: center;
    font-weight: 800;
    text-decoration: none;
    color:  rgb(37, 35, 35);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.contact-link-gmail {
    grid-column: 2;
    grid-row: 3/4;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    color:  rgb(37, 35, 35);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


/* Pie de página */
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000
}
.footer-content{
    grid-row: 1;
    grid-column: 2/3;
    text-align: center;
    padding: 20px;
    color: #fff;
}